if !place
    section.Header
        h2 How the population has changed in your area
        prop.label Select an area to see how the population has changed

else
    section.Header
        h2 How the population has changed #{place.getName("in")}
        prop.label Select another area to see how the population has changed

    section.Highlight
        p In 2020, #{place.getName("the")} was the #{places.filterBy("parentcd", place.parentcd).getRank(place, "p2020").toWords("ordinal", {keepFirst: false})} largest local authority in #{lookup[place.parentcd].getName("the")}, with a total population of #{place.p2020.format()}. #{moreLess(place.p2020 - place.p2019, ["An increase", "A decrease", "No change"])} compared with 2019.
    
    section#chart-timeseries.Chart
        prop.chartType line-highlight
        prop.title Largest local authorities #{lookup[place.parentcd].getName("in")}, 2002-2020
        prop.footer Source: Office for National Statistics
        prop.data= places.filterBy("parentcd", place.parentcd).toData({x: ["2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020"], y: ["p2002", "p2003", "p2004", "p2005", "p2006", "p2007", "p2008", "p2009", "p2010", "p2011", "p2012", "p2013", "p2014", "p2015", "p2016", "p2017", "p2018", "p2019", "p2020"], z: "areanm"})
        prop.selected= place.areanm
        prop.padding-left= 80
        prop.padding-right= 150

    section.Section
        h3 Population density #{place.getName("in")}
        p In 2020, the population density #{place.getName("in")} was #{place["density"].format()} people per square kilometre, which was #{moreLess(place["density"] - lookup[place.parentcd]["density"], ["more than", "less than", "the same as"])} #{lookup[place.parentcd].getName("the")} (#{lookup[place.parentcd]["density"].format()}), and #{moreLess(place["density"] - lookup["K02000001"]["density"], ["more than", "less than", "the same as"])} the United Kingdom as a whole (#{lookup["K02000001"]["density"].format()}).
    
    section#chart-density.Chart
        prop.chartType bar-highlight
        prop.title Densest local authorities #{lookup[place.parentcd].getName("in")}, 2020
        prop.footer Source: Office for National Statistics
        prop.data= places.filterBy("parentcd", place.parentcd).top("density", 5, place).toData({x: "density", y: "areanm"})
        prop.selected= place.areanm
        prop.padding-left= 180

    section.Section
        h3 Median age #{place.getName("in")}
        p In 2020, the median age #{place.getName("in")} was #{place["age_med"].format(".0f")} years, which was #{moreLess(Math.round(place["age_med"]) - Math.round(lookup[place.parentcd]["age_med"]), ["older than", "younger than", "the same as"])} #{lookup[place.parentcd].getName("the")} (#{lookup[place.parentcd]["age_med"].format(".0f")} years), and #{moreLess(Math.round(place["age_med"]) - Math.round(lookup["K02000001"]["age_med"]), ["older than", "younger than", "the same as"])} the United Kingdom as a whole (#{lookup["K02000001"]["age_med"].format(".0f")} years).

    section#chart-age.Chart
        prop.chartType bar-highlight
        prop.mode marker
        prop.title Oldest local authorities #{lookup[place.parentcd].getName("in")}, 2020
        prop.footer Source: Office for National Statistics
        prop.data= places.filterBy("parentcd", place.parentcd).top("age_med", 5, place).toData({x: "age_med", y: "areanm"})
        prop.selected= place.areanm
        prop.xMin= 30
        prop.padding-left= 180
